.StarRating {
  .hovered {
    color: var(--primary-color);
  }
}

.StarRatingRedesigned {
  .hovered {
    color: var(--icon-redesigned);
  }
}

.normal {
  fill: none;
}

.StarIcon {
  cursor: pointer;
}

.selected {
  cursor: auto;
}
